<!doctype html>

<html lang="es">
<head>
    <meta charset="utf-8">

    <title>Cursos.com</title>
    <meta name="description" content="Cursos en linea">
    <meta name="author" content="Omar Sulca">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>

<body>
<div class="bg-success" style="height: 8px;">&nbsp</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Udemy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav">
                <li class="btn btn-sm btn-outline-success" style="margin-right: 5px;">Iniciar Sesion</li>
                <li class="btn btn-sm btn-success">Registrarse</li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<section style="background-color: #fff6a1; height: 350px">
    carrusel
</section>
<section class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12 bg-secondary">
            contenido 1
        </div>
        <div class="col-lg-6 col-sm-12 bg-success">
            contenido 2
        </div>
    </div>
</section>
</div>
<footer class="bg-dark">
    Footer
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>
