<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <div class="row bg-warning">
        header
    </div>
    <div class="row">
        <div class="col-lg-2 col-sm-12 bg-info order-lg-0 order-sm-3">
            col1
            col1
            col1
        </div>
        <div class="col-lg-8 col-sm-12 bg-secondary order-lg-1 order-sm-1">
            col2
            col2
            col2
        </div>
        <div class="col-lg-2 col-sm-12 bg-info order-lg-2 order-sm-0">
            col3
            col3
            col3
        </div>
    </div>
    <div class="row bg-success">
        footer
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>
